<style>
  body {
    background-image: url(<%=Routes.static_path(@conn,"/images/homepage.svg")%>);
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
  }
</style>
<a class="btn btn-sign-up center" href="<%=Routes.user_path(@conn, :new)%>">Register</a>
