<div class="box center">
  <span><%= link "Back", to: Routes.user_path(@conn, :show) %></span>
  <h1>Settings</h1>
  <%= render "update_form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update)) %>
</div>
