<div class="box center">
  <span><%= link "Back", to: Routes.user_path(@conn, :show) %></span>

  <h1>Change Password</h1>

  <%= render "update_password_form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update_pw)) %>

</div>
