<div class="center content">
  <span><%= link "Back", to: "/" %></span>
  <h1>&emsp;New User&emsp;</h1>

  <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>
</div>
