<div class="box">
  <h1>Edit Post</h1>

  <%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :update, Lutis.Accounts.get_username!(@post.author), @post.url_id)) %>

  <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
</div>
