<script src="https://unpkg.com/feather-icons"></script>
<div class="box center">
  <h1>Listing Posts</h1>
  <span><%= link "New Post", to: Routes.post_path(@conn, :new), class: "btn btn-a round"%></span>
  <%= for post <- @posts do %>
    <%= showPost(post, assigns) %>
    <br>
  <% end %>
  <script>feather.replace()</script>
</div>
