<div class="box center content">
  <h1>&emsp;&emsp;&emsp;New Post&emsp;&emsp;&emsp;</h1>

  <%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :create)) %>

  <span><%= link "Back", to: Routes.live_path(@conn, LutisWeb.PostIndexLive) %></span>
</div>
