.loginhas-image-centered {
    margin-left: auto;
    margin-right: auto;
}
.loginbutton {
    flex: 1 1 auto;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}
.loginbutton:hover {
    background-position: right center; /* change the direction of the change here */
}
.logingradient {
    background-image: linear-gradient(to right, #64b3f4 0%, #c2e59c 51%, #64b3f4 100%);
}
.loginright {
    position: absolute;
    right: 0px;
}
