:root {
	--color-A:#ff997f;
    --color-B:#ffaacc;
	--color-C:#ff6b74;
	--color-D:#99824d;
	--color-light:#FFF;
	--color-dark:#333;

	--gap: 24px;
 	--content-gap: 40px;
 	--main-width: 640px;
  	--header-height: 60px;
  	--footer-height: 60px;
	--radius: 8px;
	--theme: #fff;
	--entry: #fff;
	--primary: rgba(0, 0, 0, 0.88);
	--secondary: rgba(0, 0, 0, 0.56);
	--content: rgba(0, 0, 0, 0.88);

	--border: #eee;

}
body,textarea,input,select{background:0;border-radius:0;font:16px;
font-family:BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;}
.smooth{transition:all .2s}
.container{margin:0 20px;width:auto}
label>*{display:inline}
form>*{display:block;margin-bottom:10px}
.row{margin:1% 0;overflow:auto}
.col{float:left}
.table,.c12{width:100%}
.c11{width:91.66%}
.c10{width:83.33%}
.c9{width:75%}
.c8{width:66.66%}
.c7{width:58.33%}
.c6{width:50%}
.c5{width:41.66%}
.c4{width:33.33%}
.c3{width:25%}
.c2{width:16.66%}
.c1{width:8.33%}
h1{font-size:3em}
h2{text-align: left;}
.btn,h2{font-size:2em}
.ico{font:33px;font-family:BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;}
.addon,.btn-sm,textarea,input,select{outline:0;font-size:16px}
textarea,input,select{padding:8px;border:1px solid #ccc}
textarea:focus,input:focus,select:focus{border-color:#5ab}
textarea,input[type=text]{-webkit-appearance:none;width:224.667px}
.addon{padding:8px 12px;box-shadow:0 0 0 1px #ccc}
.table th,.table td{padding:.5em;text-align:left}
.table tbody>:nth-child(2n-1){background:#ddd}
.msg{padding:1.5em;background:#def;border-left:5px solid #59d}
body {background-color:var(--color-dark);}

.box{
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin-left: auto;
  margin-right: auto;
  padding: var(--gap);
}

.center {
  margin: 0em;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn{background:#999;border-radius:6px;color:#FFF;border:0;cursor:pointer;display:inline-block;margin:5px;padding:12px 30px 14px;text-decoration:none}
.btn:hover{background:#888}
.btn:active,.btn:focus{background:#777}
.btn-a{color:var(--color-light);background:var(--color-A)}
.btn-a:hover{color:var(--color-A);background:var(--color-light)}
.btn-a:active,.btn-b:focus{color:transparent;}
.btn-b{color:var(--color-B);background:var(--color-light)}
.btn-b:hover{color:var(--color-light);background:var(--color-B)}
.btn-b:active,.btn-a:focus{color:transparent;}
.btn-c{background:var(--color-C)}
.btn-c:hover{color:var(--color-C);background:var(--color-light)}
.btn-c:active,.btn-c:focus{color:transparent;}
.btn-sm{border-radius:4px;padding:10px 14px 11px}
.btn-sign-up{border:5px #ffaacc;border-radius:2em;padding:.5em;font-size:6em; background:#333}
.round{border-radius:500px;}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 10%;
  background-color: transparent;
}

.logo {
  margin-right: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
* {
  box-sizing:border-box;
}

.edit-post-button{
    color:#000;
}

.delete-button{
    color:#F00;
}

.post-info-text{
    font-size:24px;
}
.unread-icon{
    width:10%;
}

/*Post-entry is used to denote a post. We can change the name if you like. There are going to be some parameters in the following lines. We can add as many as we need.*/
.post-entry {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform 0.1s;
}
.post-entry:active {
  transform: scale(0.96);
}
/*▼Post title can go here▼*/
.entry-header h2 {
  font-size: 24px;
  text-align: left;
}
/*▼A preview of the content, or the content itself can go there▼*/
.entry-content {
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--secondary);
  font-size: 16px;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/*▼this is where the views, upvote count, etc. can go. We may need to make multiple classes for this I'm not sure*/
.entry-footer {
  color: var(--secondary);
  font-size: 13px;
}
/*▼this just lets the link work▼*/
.entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.content {
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  display: inline-block;
  text-decoration:none;
}

.post-list { 
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
}

.password-input {
  width: 100%
}

